@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

div.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2#title {
  font-size: 4rem;
  font-family: 'Notable', sans-serif;
}

div.Quote {
  font-size: 2rem;
}

div.Video {
}